
#web{
	padding-top: 60px;
}
#banner{
	text-align: center;
	border: dashed #ccc 1px;
}
#banner img{
	height: 80px;	
}

#index-nav{
/*	margin: 0 auto;*/
	margin-top: 20px;
/*	padding-left: 30%;*/
/*	border: solid #ccc 1px;
	border-radius: 5px;*/
	overflow: hidden;
/*	background: url(../img/8.jpg);*/
/*	background-color: #9ad717;*/
	text-align: center;
}
.ring{
/*	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;

	cursor: pointer;
	line-height: 80px;
	text-align: center;*/
/*	background-color: #bce95a;*/
	margin: 0 30px 0 30px;
	font-size: 16px;
	color: #0c0c0c;
}

#main{
	text-align: center;
	height: 400px;
	padding-top: 110px;
}
#main p{
	height: 40px;
	line-height: 40px;
}
#main p a{
	text-decoration: none;
	color: #000;
}
