#web ul{
    overflow: hidden;
    padding-right: 40px;
}
#web ul li{
    list-style: none;
    width: 20%;
    height: 100px;
    line-height: 100px;
/*    border: solid #999 1px;*/
    float: left;
    margin: 0 2.5%;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 3%;
    cursor: pointer;
}
#web ul li div{
    border: solid #999 1px;
}
#web ul .on{
    font-weight: bold;
}
#web h1{
    text-align: center;
    margin: 50px auto;
}

#web input{
    display: block;
    margin: 50px auto;
    width: 120px;
    height: 60px;
}